{% extends "base.html" %}

{% block title %}
DMDP: Main page
{% endblock %}

{% block content %}
  <div>
    <h1>Welcome to DMDP - neat management system for storing scientific publications.</h1>
  </div>

<img src="/images/science.png" class="border-radius-7"/>

</br>

<div class="centered-block">
    <button class="btn-big" onclick="window.location='/content/search';">Search</button>
    <button class="btn-big" onclick="window.location='/content/publications';">Publications</button>
    <button class="btn-big" onclick="window.location='/content/authors';">Authors</button>
</div>

<div>
  {% for author in authors %}
    {{ author.keyname }}
    {{ author.forenames }}
    {{ author.affiliation }}
  {% endfor %}

  {% for publication in publications %}
    {{ publication.title }}
    {{ publication.date_created }}
    {{ publication.date_updated }}
    {{ publication.journal_ref }}
    {{ publication.abstract }}
    {{ publication.doi }}
    {{ publication.isbn }}
    {{ publication.subcategories }]
    {{ publication.comments }}

    {% for category in publication.categories %}
        {{ category.category_name }}
    {% endfor %}

    {% for author in publication.authors %}
        {{ author.keyname }}
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
