{% extends "base.html" %}

{% block title %}
Search {% if query %}: query = {{ query }} {% endif %}
{% endblock %}

{% block content %}
    <h2><a href="/content/search">Search page</a></h2>

    <form>
        <input type="text" name="q" id="query" placeholder="Enter your query here" value="{{query}}">
    </form>
    </br>
    {% if publications %}
        {% if query %}
            <b>Publications containing "{{ query }}" in title:</b> </br>
        {% endif %}
        {% if category_name %}
            <b>Publications of category "{{ category_name }}":</b> </br>
        {% endif %}

        </br>

        {% if publications|length > 0 %}
            {% for publication in publications %}
                <a href="/content/publications/{{ publication.id }}"> {{ publication.title }} </a> </br>
            {% endfor %} </br>

            <a href="/content/search?{% if query %}q={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if prev_page_offset %}&offset={{ prev_page_offset }}{% endif %}">&lt;&lt; Previous page</a>
            <a class="float-right" href="/content/search?{% if query %}q={{ query }}{% endif %}{% if category_id %}&category={{ category_id }}{% endif %}{% if next_page_offset %}&offset={{ next_page_offset }}{% endif %}">Next page &gt;&gt;</a>
        {% else %}
            No results for your query. </br>
          </br>
        {% endif %}
        {% endif %}




      {% if authors %}
          {% if query %}
              <b>Authors containing "{{ query }}" in name:</b> </br>
          {% endif %}

          {% if authors|length > 0 %}
              {% for author in authors %}
                  <a href="/content/authors/{{ author.id }}"> {{ author.keyname }} {{ author.forenames }} </a> </br>
              {% endfor %} </br>
              {% endif %}

            <hr/>


    {% endif %}

{% endblock %}
