{% extends "base.html" %}

{% block title %}
Search {% if query %}: query = {{ query }} {% endif %}
{% endblock %}

{% block content %}
    <h2><a href="/search">Search page</a></h2>

    <form>
        <input type="text" name="q" id="query" placeholder="Enter your query here.." value="{{query}}">
    </form>
    </br>
    {% if publications %}
        {% if query %}
            <b>Publications containing "{{ query }}" in title:</b> </br>
        {% endif %}
        {% if category_name %}
            <b>Publications of category "{{ category_name }}":</b> </br>
        {% endif %}

        {% if publications|length > 0 %}
            {% for publication in publications %}
                <a href="/content/publications/{{ publication.id }}"> {{ publication.title }} </a> </br>
            {% endfor %} </br>
        {% else %}
            No results for your query.
        {% endif %}
    {% endif %}

{% endblock %}
