{% extends "base.html" %}

{% block content %}
Edit publication:</br>
<form action="" method="POST" class="input-form"> {% csrf-field %}
    <table>
        <tr>
            <td>Title: </td>
            <td><input type="text" name="title" id="title" value="{{ publication.title }}"></td>
        </td>
        <tr>
            <td>Abstract: </td>
            <td><input type="text" name="abstract" id="abstract" value="{{ publication.abstract }}"></td>
        </td>
        <tr>
            <td>Universal ID: </td>
            <td><input type="text" name="uid" id="uid" value="{{ publication.uid }}"></td>
        </td>
        <tr>
            <td>Journal reference: </td>
            <td><input type="text" name="journal_ref" id="journal_ref" value="{{ publication.journal_ref }}"></td>
        </tr>
        <tr>
            <td>DOI: </td>
            <td><input type="text" name="doi" id="doi" value="{{ publication.doi }}" ></td>
        </tr>
        <tr>
            <td>Comments: </td>
            <td><input type="text" name="comments" id="comments" value="{{ publication.comments }}"></td>
        </tr>
        <tr>
            <td>Date created: </td>
            <td><input type="text" name="date_created" id="date_created" value="{{ publication.date_created }}"></td>
        </tr>
        <tr>
            <td>Date updated: </td>
            <td><input type="text" name="date_updated" id="date_updated" value="{{ publication.date_updated }}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
</form></br>

{% endblock %}
