{% extends "base.html" %}

{% block title %}
Pubications
{% endblock %}

{% block content %}
    <h1>Publications:</h1>
    <form>
        Sort by:
        <select name="sort_by">
          <option value="title-asc" {% ifequal sort_by "title-asc" %}selected{% endifequal %}>Title (A-Z)</option>
          <option value="title-desc" {% ifequal sort_by "title-desc" %}selected{% endifequal %}>Title (Z-A)</option>
          <option value="date_updated-asc" {% ifequal sort_by "date_updated-asc" %}selected{% endifequal %}>Date updated (A-Z)</option>
          <option value="date_updated-desc" {% ifequal sort_by "date_updated-desc" %}selected{% endifequal %}>Date updated (Z-A)</option>
        </select>
        <input value="Sort" type="submit"/>
    </form>
    </br>
    {% for publication in publications %}
        <div class="content">
            <a href="/content/publications/{{ publication.id }}">{{ publication.title }}</a> </br>
            Created: {{ publication.date_created }}</br>
            Updated: {{ publication.date_updated }}</br>
           {% if publication.journal_ref|empty? %} {% else %} Journal ref.: {{ publication.journal_ref }} {% endif %}
        </div>
    {% endfor %}
    <br/>
    <a href="/content/publications?{% if prev_page_offset %}offset={{ prev_page_offset }}{% endif %}{% if sort_by %}&sort_by={{ sort_by}}{% endif %}">&lt;&lt; Previous page</a>
    <a class="float-right" href="/content/publications?{% if next_page_offset %}offset={{ next_page_offset }}{% endif %}{% if sort_by %}&sort_by={{ sort_by}}{% endif %}">Next page &gt;&gt;</a>
{% endblock %}
