{% extends "base.html" %}

{% block title %}
Pubications
{% endblock %}

{% block content %}
    <h1>Publications:</h1>
    </br>
    {% for publication in publications %}
        <div class="content">
            <a href="/content/publications/{{ publication.id }}">{{ publication.title }}</a> </br>
            Created: {{ publication.date_created }}</br>
            Updated: {{ publication.date_updated }}</br>
           {% if publication.journal_ref|empty? %} {% else %} Journal ref.: {{ publication.journal_ref }} {% endif %}
        </div>
    {% endfor %}
    <br/>
    <a href="/content/publications?{% if prev_page_offset %}offset={{ prev_page_offset }}{% endif %}{% if sort_by %}&sort_by={{ sort_by}}{% endif %}">&lt;&lt; Previous page</a>
    <a class="float-right" href="/content/publications?{% if next_page_offset %}offset={{ next_page_offset }}{% endif %}{% if sort_by %}&sort_by={{ sort_by}}{% endif %}">Next page &gt;&gt;</a>
{% endblock %}
