{% extends "base.html" %}

{% block title %}
Author: {{ author.keyname }}
{% endblock %}

{% block content %}
    <div class="content">
        Keyname: {{ author.keyname }} </br>
        Connected forenames: {{ author.forenames }} </br>
        Birthday: {{ author.date_of_birthday }} </br>
        Affiliation: {{ author.affiliation }} </br>

        </br>

        Publications: </br></br>

        {% for publication in publications %}
            <a href="/content/publications/{{ publication.id }}">{{ publication.title }}</a> </br>
        {% endfor %}
    <div>
{% endblock %}
