{% extends "base.html" %}

{% block title %}
Authors
{% endblock %}

{% block content %}
    {% if authors %}
        {% if authors|length > 0 %}
            <h1>Authors:</h1>

            {% for author in authors %}
                <div class="content">
                    <a href="/content/authors/{{ author.id }}">{{ author.keyname }}, {{ author.forenames }}</a> </br>
                </div>
            {% endfor %}
            <br/>
            <a href="/content/authors?{% if prev_page_offset %}offset={{ prev_page_offset }}{% endif %}">&lt;&lt; Previous page</a>
            <a class="float-right" href="/content/authors?{% if next_page_offset %}offset={{ next_page_offset }}{% endif %}">Next page &gt;&gt;</a\>
        {% endif %}
    {% endif %}
{% endblock %}
