{% extends "base.html" %}

{% block title %}
Pubication: {{ publication.title }}
{% endblock %}

{% block content %}
    <div class="content">
        {{ publication.title }} </br>
        {{ publication.date_created }} </br>
        {{ publication.date_updated }} </br>
        {{ publication.journal_ref }} </br>
        {{ publication.abstract }} </br>
        {{ publication.doi }} </br>
        {{ publication.isbn }} </br>
        {{ publication.subcategories }} </br>
        {{ publication.comments }} </br>

        Categories: </br>

        {% for category in publication.categories %}
            <a href="/content/categories/{{ category.id }}">{{ category.category_name }}</a> </br>
        {% endfor %}

        Authors: </br>

        {% for author in authors %}
            <a href="/content/authors/{{ author.id }}">{{ author.keyname }}</a> </br>
        {% endfor %}
    </div>
{% endblock %}
