{% extends "base.html" %}

{% block title %}
Pubication: {{ publication.title }}
{% endblock %}

{% block content %}
    <div class="content">
        Title: {{ publication.title }} </br>
        Uploaded: {{ publication.date_created }} </br>
        Last update: {{ publication.date_updated }}</br>
        {% if publication.journal_ref|empty? %}{% else %} Journal reference: {{ publication.journal_ref }} </br> {% endif %}
        {% if publication.abstract|empty? %}{% else %} Abstract thesis: {{ publication.abstract }} </br>  {% endif %}
        {% if publication.doi|empty? %}DOI: {{ publication.doi }} </br>  {% endif %}
        {% if publication.comments|empty? %}Comments: {{ publication.comments }} </br>  {% endif %}

        Categories: </br>

        {% for category in categories %}
            <a href="/content/search?category={{ category.id }}">{{ category.category_name }}</a> </br>
        {% endfor %}

        Authors: </br>

        {% for author in authors %}
            <a href="/content/authors/{{ author.id }}">{{ author.keyname }} {{ author.forenames }} </a> </br>
        {% endfor %}


{% if user.admin %} <h3><a href="/content/publications/{{ publication.id }}/edit"> Edit publication </a></h3></br>
                    <h3><form method="post">{% csrf-field %}
                        <input type="submit" value="Delete publication"/></form></h3> {% else %} {% endif %}

    </div>
{% endblock %}
