{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<form action="" method="POST" class="input-form"> {% csrf-field %}
    <table>
      <tr>
        <td><input type="email" name="email" id="email" placeholder="Email"></td>
      </tr>
      <tr>
        <td><input type="password" name="password" id="password" placeholder="Password"></td>
      </tr>
      <tr>
        <td><input type="submit" value="Login"></td>
      </tr>
    </table>
</form>
{% endblock %}
