{% extends "base.html" %}

{% block title %}
Author: {{ author.keyname }} {{ author.forenames }}
{% endblock %}

{% block content %}
    <div class="content">
        {{ author.keyname }} {{ author.forenames }} </br>
        Affiliation: {{ author.affiliation }} </br>

        </br>

        Publications: </br></br>

        {% for publication in publications %}
            <a href="/content/publications/{{ publication.id }}">{{ publication.title }}</a> </br>
        {% endfor %}
    <div>
{% endblock %}
