.container {
  margin: 0 auto;
  width: 900px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

a, a:link, a:hover, a:active {
  color: #3366FF;
  text-decoration: none;
}

a:visited {
  color: gray;
}

.margin-10 {
  margin: 10px;
}

#query {
  margin: 0 auto;
  width: 90%;
}

input[type="text"] {
  border-radius: 5px;
  border-style: solid;
  border-color: #3366FF;
  outline: none;
  box-shadow: none;
}

.content {
  border-style: solid;
  border-color: #3366FF;
  border-radius: 5px;
}
